node_modules


Ho2y8li50hDWxQd7

const URI="mongodb+srv://<db_username>:<db_password>@nodepractice.eir954w.mongodb.net/"


mongodb+srv://shreyashgore193:lW76vmAjs9Nj6FFd@namastenode.ajvaj.mongodb.net/
